[project]
	description = Android App Files
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ncmadhu
[access "refs/for/refs/*"]
	read = group user/ncmadhu
	push = group user/ncmadhu
	label-Code-Review = -2..+2 group user/ncmadhu
	label-Verified = -1..+1 group user/ncmadhu
	rebase = group user/ncmadhu
	removeReviewer = group user/ncmadhu
	submit = group user/ncmadhu
[access "refs/heads/*"]
	read = group user/ncmadhu
	create = group user/ncmadhu
	push = +force group user/ncmadhu
	pushMerge = group user/ncmadhu
[access "refs/tags/*"]
	push = +force group user/ncmadhu
	pushTag = group user/ncmadhu
	pushSignedTag = group user/ncmadhu
